{% extends 'base.html' %}
{% block title %}کارگردانان{% endblock %}
{% load static %}
{% load custom_filters %}

{% block content %}
    <main class="main">

        <div class="site-breadcrumb" style="background: url({% static 'images/01-bg-ganr.jpg' %})">
            <div class="container">
                <h2 class="breadcrumb-title">کارگردانان</h2>
                <ul class="breadcrumb-menu" dir="rtl">
                    <li><a href="{% url 'core:home' %}">خانه</a></li>
                    <li class="active">کارگردانان</li>
                </ul>
            </div>
        </div>

        <div class="movie-area py-80" dir="rtl">
            <div class="container">
                <div class="row row-cols-xl-5">
                    {% if directors %}
                        {% for director in directors %}
                        <div class="col-6 col-md-4 col-lg-3 col-xl">
                            <div class="movie-item">
                                <div class="movie-img">
                                    {% if director.photo %}
                                        <img src="{{ director.photo.url }}" alt="{{ director.name|truncatewords:5 }}">
                                    {% else %}
                                        <img src="{% static 'images/movie_vertical_banner.jpg' %}" alt="{{ director.name|truncatewords:5 }}">
                                    {% endif %}
                                    <a href="#director_detail" class="movie-play"><i class="icon-play-3"></i></a>
                                </div>
                                <div class="movie-content" dir="rtl">
                                    <h6 class="movie-title"><a href="#director_detail">{{ director.name|truncatewords:5 }}</a></h6>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}
                        کارگردانی یافت نشد!
                    {% endif %}
                </div>

                <div class="pagination-area mt-20">
                    <div aria-label="Page navigation example">
                        {% if directors.has_other_pages %}
                            <ul class="pagination">
                                {% if directors.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ directors.previous_page_number }}" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                {% endif %}
                                {% for page in pages_to_show %}
                                    {% if page == '...' %}
                                        <li class="page-item"><span class="page-link">...</span></li>
                                    {% elif directors.number == page %}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if directors.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ directors.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </main>
{% endblock %}